flow.json
[
    {
        "id": "0aa52e0f871b0885",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "978d5062324de0f4",
        "type": "inject",
        "z": "0aa52e0f871b0885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "d33f1976c5c41511"
            ]
        ]
    },
    {
        "id": "d33f1976c5c41511",
        "type": "debug",
        "z": "0aa52e0f871b0885",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "4c7459e5d05a26a9",
        "type": "http request",
        "z": "0aa52e0f871b0885",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://jsonplaceholder.typicode.com/posts",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 500,
        "wires": [
            [
                "0beb19bd94d3bc68",
                "5f7b963110f52013"
            ]
        ]
    },
    {
        "id": "0beb19bd94d3bc68",
        "type": "debug",
        "z": "0aa52e0f871b0885",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "5624bd68d0517934",
        "type": "inject",
        "z": "0aa52e0f871b0885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "4c7459e5d05a26a9"
            ]
        ]
    },
    {
        "id": "c281c8ad11c68257",
        "type": "debug",
        "z": "0aa52e0f871b0885",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "5f7b963110f52013",
        "type": "function",
        "z": "0aa52e0f871b0885",
        "name": "function 1",
        "func": "let posts = JSON.parse(msg.payload);\nlet map;\n\n\nmap = posts.map((post) => post.id + \" | \" + post.title + \"\\n\")\n\nmsg.payload = {\n    count: posts.length,\n    map\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 600,
        "wires": [
            [
                "c281c8ad11c68257"
            ]
        ]
    }
]