flow.json
[
    {
        "id": "0aa52e0f871b0885",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c7459e5d05a26a9",
        "type": "http request",
        "z": "0aa52e0f871b0885",
        "name": "get 50 posts",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://jsonplaceholder.typicode.com/posts?_end=50",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 500,
        "wires": [
            [
                "0beb19bd94d3bc68",
                "5f7b963110f52013"
            ]
        ]
    },
    {
        "id": "0beb19bd94d3bc68",
        "type": "debug",
        "z": "0aa52e0f871b0885",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "5624bd68d0517934",
        "type": "inject",
        "z": "0aa52e0f871b0885",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "4c7459e5d05a26a9"
            ]
        ]
    },
    {
        "id": "5f7b963110f52013",
        "type": "function",
        "z": "0aa52e0f871b0885",
        "name": "get posts metainformation",
        "func": "let posts = msg.payload;\nlet count = posts.length;\nlet usersSet = new Set();\n\nposts.forEach((post) => usersSet.add(post.userId));\n\nmsg.topic = \"posts\";\nmsg.payload = {\n    count,\n    usersSet,\n    posts\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "573745fdded094ba",
                "af589de293d340c2"
            ]
        ]
    },
    {
        "id": "573745fdded094ba",
        "type": "http request",
        "z": "0aa52e0f871b0885",
        "name": "get users",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://jsonplaceholder.typicode.com/users",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 900,
        "y": 740,
        "wires": [
            [
                "3b79ca24e32ea970"
            ]
        ]
    },
    {
        "id": "df117f33d545b8eb",
        "type": "debug",
        "z": "0aa52e0f871b0885",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 600,
        "wires": []
    },
    {
        "id": "af589de293d340c2",
        "type": "join",
        "z": "0aa52e0f871b0885",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1250,
        "y": 600,
        "wires": [
            [
                "91d422f0341658f2"
            ]
        ]
    },
    {
        "id": "3b79ca24e32ea970",
        "type": "function",
        "z": "0aa52e0f871b0885",
        "name": "add user topic",
        "func": "msg.topic = \"users\";\nmsg.complete = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 740,
        "wires": [
            [
                "af589de293d340c2"
            ]
        ]
    },
    {
        "id": "91d422f0341658f2",
        "type": "function",
        "z": "0aa52e0f871b0885",
        "name": "populate users in posts",
        "func": "// populate user values\nlet users = msg.payload.users;\nlet posts = msg.payload.posts;\n\nmsg.payload.users = users.filter((user) => posts.usersSet.has(user.id));\n\nmsg = {};\nmsg.topic = \"populated posts\"\nmsg.payload = posts.posts.map((post) => Object.assign(post, {user: users[post.userId-1]}));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 600,
        "wires": [
            [
                "df117f33d545b8eb"
            ]
        ]
    },
    {
        "id": "9cfea4c7663aaded",
        "type": "comment",
        "z": "0aa52e0f871b0885",
        "name": "Use jsonplaceholder to showcase basic workflow",
        "info": "",
        "x": 340,
        "y": 400,
        "wires": []
    }
]